* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
nav{
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
}
.LOGINCONTENT, h1{
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 50px;
    font-size: 40px;
    font-family: Montserrat;
    flex-direction: column;
}
i{
    padding-right: 12px;
}
button{
    padding: 15px;
    margin: 15px;
    font-family: Montserrat;
    background-color:  black;
    color: white;
    border: 2px solid white;
    font-size: large;

}
.center, h2{
    font-size: 20px;
    font-family: Montserrat;
    padding: 10px;
}
 
.secondheading,h3{
    font-size: 30px;
    font-family: Montserrat;
    text-transform: uppercase;
    margin: 10px;
}
.secondheading,p{
    font-family: Montserrat;
    font-size: 20px;
    padding: 10px;
}
.secondheading,input{
    padding: 10px;
    margin: 5px;
    font-size: 15px;
    font-family: Montserrat;
     
 }
.guccijoin{
    font-size: 25px;
    font-family: Montserrat;
    margin: 10px;
}
.order{
    display: flex;
    justify-content: center;
    padding: 10px;
    font-family: Montserrat;
    gap: 90px;
    margin: 20px;
}
.footer{
    color: white;
   padding: 100px;
   background-color: black;

}
.footermain{
    padding: 10px;
    justify-content: space-evenly;
    display: flex;
    margin: 10px;
    text-decoration: underline;
    font-family:Montserrat;
}
.footerlogo{
    margin: 40px;
}
.powdered{
     margin-left: 46%;
     font-family:Montserrat;
     text-decoration: underline;
}

