*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
nav{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
 }
 
h1{
    padding: 10px;
    margin: 30px;
    font-family: Montserrat;
    text-decoration: underline;
}
.imagecontainer{
    display: inline-block;
    padding-bottom: 40px;
    margin: 30px;
}
.text, h4{
    padding: 5px;
    margin: 7px;
    font-family: Montserrat;
    
}
button{
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
    font-family: Montserrat;
    background-color: rgb(0, 0, 0);
    color: white;
    font-weight: bold;
   
    border: 1px white solid;
 }
.image, img:hover{
    transform: scale(1.10);
    transition: 0.4s;
}
.icons{
    margin-left: 1200px;
}
i{
    padding: 12px;
    margin: 5px;
     
}
.footer{
    color: white;
   padding: 100px;
   background-color: black;

}
.footermain{
    padding: 10px;
    justify-content: space-evenly;
    display: flex;
    margin: 10px;
    text-decoration: underline;
    font-family:Montserrat;
}
.footerlogo{
    margin: 40px;
}
.powdered{
     margin-left: 46%;
     font-family:Montserrat;
     text-decoration: underline;
}
